<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      {% if color == 'blue' %}
        <img src = "../static/disappearingNinjasApp/images/leonardo.jpg">
      {% elif color == 'red' %}
        <img src = "../static/disappearingNinjasApp/images/raphael.jpg">
      {% elif color == 'orange' %}
        <img src = "../static/disappearingNinjasApp/images/michelangelo.jpg">
      {% elif color == 'purple' %}
        <img src = "../static/disappearingNinjasApp/images/donatello.jpg">
      {% else %}
        <img src = "../static/disappearingNinjasApp/images/notapril.jpg">
      {% endif %}
    </div>
  </body>
</html>
